.ad-container {
  position: sticky;
  bottom: -5px;
}
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  animation: slidesMove 7s infinite;
}
@keyframes slidesMove {
  0% {
    transform: rotate(-180deg);
  }
  10% {
    transform: rotate(10deg);
  }
  13% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(0deg);
  }
  62% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.close-button img {
  position: absolute;
  top: -40px;
  right: 0;
  width: 50px;
}
.close-button img:hover {
  cursor: pointer;
}
.hand-move {
  display: flex;
  position: relative;
  justify-content: center;
}
.hand-move img {
  position: absolute;
  top: -40px;
  width: 80px;
  z-index: 1;
  animation: handMoveAnimation 2.5s infinite;
}
.hand-move img:hover {
  cursor: pointer;
}

@keyframes handMoveAnimation {
  0% {
    transform: translateX(-50px) rotate(0);
  }
  50% {
    transform: translateX(50px) rotate(10deg);
  }
  100% {
    transform: translateX(-50px) rotate(0);
  }
}
